@media (max-width:768px){

.sidebar{
    position:fixed;
    left:-260px;
    transition:.3s;
    z-index:1000;
}

.sidebar.active{
    left:0;
}

.cards{
    grid-template-columns:1fr 1fr;
}

.section{
    grid-template-columns:1fr;
}

.actions{
    flex-direction:column;
}

.action{
    width:100%;
    text-align:center;
}

table{
    display:block;
    overflow-x:auto;
}

.header{
    padding:15px;
}

.search{
    display:none;
}

}